/* p {
    color: white;
    font-size: 20px;
    background-color: brown;

} */

.first {
    color: yellow;
    background: indigo;
}

.second {
    color: aquamarine;
    background-color: brown;
}